<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Business Consultant</h1>
            <span><address>Attaché Software, NZ</address><time>2015 to 2016</time></span>
        </header>
        <p>Create and install application implementation processes and scripts.<br> Design and develop video training site.</p>
    </article>
    <article>
        <header>
            <h1>Senior Business Analyst</h1>
            <span><address>University of Auckland, NZ</address><time>2013 to 2015</time></span>
        </header>
        <p>Migrate >4Pb of customer storage from discrete servers to centralised storage management.<br>
        Migrate >1000 applications to centralised application management.<br>
        Develop intranet site
        </p>
    </article>
    <article>
        <header>
            <h1>Customer Services & Product Manager </h1>
            <span><address>Optimizer HQ, NZ</address><time>2013</time></span>
        </header>
        <p>Design & Develop technical support processes for global teams.<br>
        Implement Agile framework for development team.
        Create roadmap for 7 products.
        Design and create internal intranet site.
        </p>
    </article>
    <article>
        <header>
            <h1>Business Analyst</h1>
            <span><address>nib, NZ</address><time>2012 to 2013</time></span>
        </header>
        <p>Lead business improvement team through acquisition.<br>
        Develop & implement internal intranet site. <br>
        Manage core company application.
        </p>
    </article>
    <article>
        <header>
            <h1>Business Analyst</h1>
            <span><address>TOWER, NZ</address><time>2012</time></span>
        </header>
        <p> Develop internal efficiency program. <br>
        Create Customer Experience improvement program. <br>
        Product Owner for internal application.
        </p>
    </article>
        <article>
        <header>
            <h1>Deputy Registrar</h1>
            <span><address>Ministry of Justice, NZ</address><time>2009-2012</time></span>
        </header>
        <p> Develop and implement process improvements <br>
        Coach and Mentor staff. <br>
        Business representative for internal application.
        </p>
    </article>
        <article>
        <header>
            <h1>Police Officer</h1>
            <span><address>Metropolitan Police, NZ</address><time>2000-2009</time></span>
        </header>
        <p> Tester for technology implementations. <br>
        Process design & creation <br>
        Business representative for core internal application.
        </p>
    </article>
</section>
