<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>E & A Club</h1>
            <span><address>Auckland, NZ</address><time>2015-2016</time></span>
        </header>
        <p>
            Creation of University club to support Engineers & Architects with industry mentorship throughout their careers.
        </p>
    </article>
    <article>
        <header>
            <h1>Volunteer</h1>
            <span><address>Superb Catalyst, Nepal</address><time>2016</time></span>
        </header>
        <p>
            Development of new website, develop teaching processes for rural school
        </p>
    </article>
</section>